/*-- scss:defaults --*/

// Import fonts
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

// Colors
$brown: #602E01;
$green: #609E50;
$cream: #FDFBF7;
$tan: #ad9980;

// Base document colors
$navbar-bg: $green;
$navbar-fg: $brown;
$navbar-hl: $tan;
$body-bg: $cream;
$body-color: $brown;
$link-color: $green;

// Inline code
$code-bg: $cream;
$code-color: $brown;